<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../views/partials/Head'); %>
</head>

<body>
  <header>
    <%- include('../views/partials/Header'); %>
  </header>
  <main class="main">
    <img src="/img/detail.jpg" alt="notebook" class="productos" style="border-radius: 5%;" />
    <div class="macbook">
      <p>MacBook Pro 13” 256 GB</p>
      <p>$349.999</p>

    </div>
    <div class="detail.product">
      <li>Procesador Intel Core I5</li>
      <br />
      <li>Memoria ram de 8GB</li>
      <br />
      <li>Pantalla Led de 13.3"</li>
      <br />
      <li>Resolucion de 1440x900px con retina display</li>
      <br />
      <li>Placa de video Intel HD Graphics 6000</li>
      <br />
      <li>Conexion wifi y bluetooth</li>
      <br />
      <li>Con 2 puertos USB</li>
      <br />
      <li>Incluye lector de memoria</li>
      <br />
      <li>Modo de sonido Stereo</li>
      <br />
      <li>
        La duracion de la bateria depende del uso que se le de al producto
      </li>
      <br />
    </div>
    <div class="detail-product-botton">
      <div>
        <button class="detail-boton">
          <div><img width="32px" height="32px" src="/img/akar-icons_cart.svg"
              alt="carro" />
        </button>
      </div>
      <div>
        <button class="detail-boton">
          Comprar
        </button>
      </div>
    </div>
    </div>
    </div>
  </main>
  <footer>
    <%- include('../views/partials/Footer'); %>
  </footer>
</body>


</html>