<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
    <header>
       <%- include('../views/partials/Header'); %>
    </header>
    <main class="body-products">
        <article>
            <div><img src="/img/hp.png" alt="hp" /></div>
            <div>
                <p>Notebook HP Pavilion X360</p>
            </div>
            <div>
                <p>$439.000</p>
            </div>
            <div class="buton-home">
                <button>
                    <img src="/img/akar-icons_cart2.svg" width="28" height="14" alt="carrito" />
                </button>
                <button>VER MAS</button>
            </div>
        </article>
        <article>
            <div> <img src="/img/motog.jpg" alt="motorola"></div>
            <div>
                <p>Motorola G72 128GB</p>
            </div>
            <div>
                <p>$120.000</p>
            </div>
            <div class="buton-home"><button><img src="/img/akar-icons_cart2.svg" width="28"
                        height="14" alt="carrito" /></button>
                <button>VER MAS</button>
            </div>
        </article>
        <article>
            <div><img src="/img/s22.jpg" alt="samsung"></div>
            <div>
                <p>Samsung S21+</p>
            </div>
            <div>
                <p>$185.000</p>
            </div>
            <div class="buton-home"><button><img src="/img/akar-icons_cart2.svg" width="28"
                        height="14" alt="carrito" /></button>
                <button>VER MAS</button>
            </div>
        </article>
        <article>
            <div><img src="/img/macbook.jpg" alt="macbook"></div>
            <div>
                <p>MacBook Pro 13"</p>
            </div>
            <div>
                <p>$350.000</p>
            </div>
            <div class="buton-home"> <button><img src="/img/akar-icons_cart2.svg" width="28"
                        height="14" alt="carrito" /></button>
                <button>VER MAS</button>
            </div>
        </article>
    </main>
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>