<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/Head'); %>
</head>

<body>
    <header>
        <%- include('../views/partials/Header'); %>
    </header>
    <main>
        <div class="login">
            <p>TecnoFull</p>
            <form>
                <div>
                    <input type="email" placeholder="Ingresar email" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div>
                    <input type="password" placeholder="Ingresar contrase単a" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div> <input type="button" value="Ingresar" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 135px;
                    border-left-color: transparent;
                    height: 28px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;"></div>

            </form>
            <div class="rec-contrase単a"><a href="/register.html">Registrarse</a>
                <a href="/recuperarcontrase単a">Recuperar Contrase単a</a>
            </div>

        </div>
    </main>
    <footer>
        <%- include('../views/partials/Footer'); %>
    </footer>
</body>

</html>