<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/Head'); %>
</head>
<body>
    <header>
        <%- include('../views/partials/Header'); %>
    </header>
    <main>
        <div class="register">
            <p>TecnoFull</p>
            <form>
                <div>
                    <input type="text" placeholder="Nombre" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div>
                    <input type="text" placeholder="Apellido" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div>
                    <input type="email" placeholder="Email" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div>
                    <input type="date" placeholder="Fecha de nacimiento" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div>
                    <input type="password" placeholder="Ingresar contraseña" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 227px;
                    border-left-color: transparent;
                    height: 30px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;">
                </div>
                <div> <input type="button" value="Registrarse" style="border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    width: 135px;
                    border-left-color: transparent;
                    height: 28px;
                    font-family: 'Inter';
                    font-size: medium;
                    border-radius: 7px;"></div>

            </form>
        </div>
    </main>
    <footer>
        <%- include('../views/partials/Footer'); %>
    </footer>
</body>
</html>