<footer>
    <div class="redes2">
        <div class="redes">
            <img src="/img/Facebook.svg" alt="facebook" />
            <a href="/facebook">Facebook</a>
        </div>
        <div class="redes">
            <img src="/img/Instagram.svg" alt="imagen" />
            <a href="/instagram">Instagram</a>
        </div>
        <div class="redes">
            <img src="/img/Whatsapp.svg" alt="whatsapp" />
            <a href="/whatsapp">Whatsapp</a>
        </div>
    </div>
    <div class="foot">
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Trabaja con nosotros</a>
        <a href="/contacto">Contacto</a>
        <a href="/vender">Vende con nosotros</a>
        <a href="/terminosycondiciones">Terminos y condiciones</a>
    </div>
</footer>