<header>
    <div class="head">
        <div class="butons">
            <img width="50" height="50" src="/img/logo.jpg" alt="logo" class="logo" />
            <p class="logo">TecnoFull</p>
        </div>
        <div class="butons">
            <img src="/img/Search_Magnifying_Glass.svg" alt="search" />
            <img src="/img/Shopping_Bag_02.svg" alt="shop" />
        </div>
    </div>
    <img src="/img/image 1.jpg" height="60" alt="banner" />
</header>